$baseColor: #4d4d4d;
$textColor: #ffffff;
$backgroundColorGrid: #ffffff;
$borderRadius: 5px;
$fontBaseSize: 15pt;
$blue:#009fdb;
$cellInnerSize: 60px;
$gridGap: 2px;
$borderWidth: 5px;
$printBorderWidth: 2px;
$borderColor: #3e3e3e;
$sweepButtonColor: #f4a4f5;
$alternativeColor: #ff1493;
$strategyColor: #25ba8b;
$subGridBorder: black;

@import 'scss/Loader';
@import 'scss/Grid';
@import 'scss/Button';
@import 'scss/Fireworks';

[tabindex] {
  outline: none !important;
}


body {
  font-family: Arial;
  margin-left: 50px;
  margin-top: 25px;
  overflow: auto;
}
h3 {
  color: $blue;
  font-size: $fontBaseSize * 1.5;
  margin-bottom: 3px;
}
@media print {
  h3, .noPrint {
    display: none;
  }
}