.button {
  background-color: $blue;
  border: none;
  color: $textColor;
  padding: 10px 25px;
  width: ($cellInnerSize*3);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $fontBaseSize;
  font-weight: bold;
  border-radius: $borderRadius;
  margin-top : $gridGap*2;
  margin-left: $gridGap;
  margin-right: $gridGap*2;
}
.fireworks {
  background-color: $alternativeColor;
  width: ($cellInnerSize*7);
  margin-right:$cellInnerSize;
  margin-left:$cellInnerSize;
}
.number {
  margin: $gridGap ;
  width: 30px;
  padding: $gridGap *2;
  font-size: $fontBaseSize * .75;
  &.foundNumber {
    background-color: lighten($blue, 30%);
    &.active {
      background-color: $blue;
    }
  }
  &.sweepNumber {
    background-color: lighten($alternativeColor, 30%);
    &.active {
      background-color: $alternativeColor;
    }
  }
  &.off {
    background-color: lighten($baseColor, 40%);
    text-align: center;
    width: 60px;
  }
}