.button {
  background-color: $blue;
  border: none;
  color: $textColor;
  padding: 5px;
  width: ($cellInnerSize*2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $fontBaseSize;
  font-weight: bold;
  border-radius: $borderRadius;
  margin : $gridGap;
}

.fireworks {
  background-color: $alternativeColor;
  width: ($cellInnerSize*9);
}

@mixin helperNumbers($color) {
  background-color: lighten($color, 30%);
  &.active {
    background-color: $color;
  }

}
.number {
  margin: $gridGap ;
  width: ($cellInnerSize/2);
  padding: $gridGap;
  font-size: $fontBaseSize * .75;
  &.foundNumber {
    @include helperNumbers($blue)
  }
  &.sweepNumber {
    @include helperNumbers($alternativeColor)
  }
  &.off {
    background-color: lighten($baseColor, 40%);
    text-align: center;
    width: ($cellInnerSize);
  }
}