.grid {
  width: 9* ($cellInnerSize + $gridGap) ;

  .helpers {
    background-color: lighten($baseColor, 50%);
    border-radius: $borderRadius;
    padding: $gridGap*2;
  }

  .label {
    width: 175px;
    height: 30px;
    display:inline-block;

  }
  select {
    &.strategy {
      background-color: lighten($strategyColor, 40%);
    }
  }
  .wrapper {
    display: grid;
    grid-gap: $gridGap;
    grid-template-columns: repeat(9, [col] $cellInnerSize ) ;
    grid-template-rows: repeat(9, [row] $cellInnerSize  );
    background-color: $backgroundColorGrid;
    color: $textColor;
    .even {
      background-color: $baseColor;
    }
    .uneven {
      background-color: lighten( $baseColor, 10% );
    }
  }

  .cell {
    color: $textColor;
    border-radius: $borderRadius;
    font-size:$fontBaseSize * 1.5;

    &.cellValueClass {
      padding-top: $cellInnerSize*.23;
      padding-left: $cellInnerSize*.33;
    }
    &.optionalValues {
      padding-top: $borderRadius;
      padding-left: $borderRadius;
    }
    &.active {
      border: 2px solid $backgroundColorGrid;
    }
    &.strategy {
      background-color: $strategyColor;
    }

    &.foundValue {
      background-color: lighten($blue, 20%);
    }
    &.sweepValue {
      background-color:  lighten($alternativeColor, 20%);
      text: black;
    }

    &.error {
      background-color: crimson;
    }

    .cellOptionalValues-wrapper {
      display: grid;
      grid-gap: $gridGap * .5;
      margin-left: 0;
      grid-template-columns: repeat(3, [col] ($cellInnerSize - ($borderRadius*4))/3 ) ;
      grid-template-rows: repeat(3, [row] ($cellInnerSize - ($borderRadius*4))/3  );
      font-size: $fontBaseSize * .45;
    }
    .cellOptionalValues-cell {
      text-align: center;
      padding: $borderRadius/2;
      font-size:$fontBaseSize * .6;
      color:darken($textColor, 10%)
    }
  }
}

